/* Contao simple_products style sheet */
.product .teaser {
    margin-bottom: 15px;
    font-weight: bold;
    color: #222;
}

.product_picture {
    float: right;
    width: 30%;
    margin-left: 2%;
    text-align: center;
}

a.tl_submit {

}

.submit_button {
margin-top:10px;
}

.price_sale {
    top: -5px;
    position: relative;
    display: inline-block;
    margin-left: 12px;
    padding: 12px 1px;
    background-color: #fc3901;
    border: 1px solid #8e2000;
    border-radius: 50%;
    font-size: 14px;
    line-height: 16px;
    min-width: 39px;
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
		font-weight:normal;
}

.product_picture figure {
    max-height: 130px;
}

span.price, span.price_obsolete {
    font-size: 125%;
}

.product_price .price_obsolete {
    position: relative;
    padding-top: 16px;
    padding-left: 7px;
    color: #555;
}

.product_price .price_obsolete:before {
    width: 95%;
    height: 26%;
    position: absolute;
    border-bottom: 2px solid rgba(0,0,0,0.3);
    content: "";
}

span.price {
    font-weight: bold;
    color: #fc3901;
}

.ce_list li {
    padding: 8px 12px 9px 33px;
    background-image: url("/files/gfx/layout/success.png");
    background-repeat: no-repeat;
    background-position: 10px 12px;
    border-bottom: 1px solid #d6d6d6;
    width: 60%;
}
